@import "../../styles/utils/responsive";

.about {
  height: 100%;
  margin: 4.09rem 16.7rem 0;
  display: flex;
  justify-content: space-between;

  @include media("<=phone") {
    width: 90%;
    margin: 4rem auto 0;
    flex-direction: column;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #683522;
    margin-bottom: 2.4rem;

    @include media("<=phone") {
      font-size: 2.4rem;
      margin-bottom: 1.6rem;
    }
  }
  .aboutWrapper {
    max-width: 57.1rem;

    @include media("<=phone") {
      margin-bottom: 4.8rem;
    }

    p, h4 {
      font-size: 1.6rem;
      font-weight: normal;
      margin: 2rem 0;
      line-height: 2.4rem;
      color: #000000;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 {
      font-weight: bold;
    }
  }

  aside {
    h3 {
      font-size: 2.4rem;
      font-weight: 500;
      color: #464646;
      margin-bottom: 3.2rem;
    }

    .contributorContainer {
      display: flex;
      align-items: center;
      gap: 1.9rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
      }

      .textContainer {
        p {
          font-size: 1.6rem;
          font-weight: 500;
          color: #171717;
          margin-bottom: 0.5rem;
        }

        span {
          font-size: 1.4rem;
          font-weight: 400;
          color: #464646;
        }
      }
    }
  }
}
