.SearchBar {
  display: grid;
  place-items: center;
  position: relative;
  width: 60%;
  margin: 2rem auto 5rem;
}

.SearchBar img:nth-child(1) {
  position: absolute;
  left: 23px;
  top: 15px;
}

.SearchBar img:nth-child(3) {
  position: absolute;
  right: 23px;
  top: 15px;
}

.SearchBar input {
  width: 100%;
  background: #f7f7f7;
  border: 2px solid #d2d2d2;
  border-radius: 12px;
  box-sizing: border-box;
  font-family: var(--inter-family);
  padding: 1rem 3.2rem;
}

.SearchBar input::placeholder {
  font-weight: 500;
  font-size: 0.95rem;
}

.SearchBar input:focus {
  outline: none;
}

/* FILTER DROPDOWN */
.FilterContainer {
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.FilterForm {
  margin: auto;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  box-sizing: border-box;
  background: #fdfdfd;
  box-shadow: -4px 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.FormHeader {
  display: flex;
  padding-bottom: 2rem;
}

.FormHeader h4 {
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  color: #171717;
}
