@import "../../styles/utils/responsive";

.Navbar {
  width: 95%;
  margin: 4.09rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media("<=phone") {
    width: 90%;
    margin: 1.6rem auto 0;
  }

  ul {
    display: flex;
    gap: 3.3rem;

    @include media("<=phone") {
      gap: 0;
    }
  }

  a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #464646;
    &:hover {
      color: #683522;
    }
  }

  .Logo {
    width: 8.4rem;
    height: 8.1rem;

    @include media("<=phone") {
      width: 6.9rem;
      height: 6.7rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.active {
  color: #683522;

  @include media("<=phone") {
    display: none;
  }

  .Navbar & {
    color: #683522;
  }
}
