@import "../../styles/utils/variables";

.CoverBank {
  margin: 4.09rem 0 3.5rem;
}

.CoverBankHeader {
  display: grid;
  place-items: center;

  p {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
    color: $text-color;
  }

  h2 {
    font-weight: 600;
    font-size: 6.4rem;
    color: $brown-color;
    letter-spacing: -0.07em;
    margin-bottom: 4rem;
  }
}

.coverGrid {
  width: 80%;
  margin: 6.4rem auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  row-gap: 2.1rem;
  column-gap: 1rem;
  /* max-width: 1400px; */

  figure {
    height: 20.4rem;
    width: 20.2rem;
    position: relative;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }

  p {
    margin: 1.8rem 0 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #171717;
  }

  span {
    font-size: 1.4rem;
    font-weight: 400;
    color: $text-color;
  }
}


// SINGLE COVER
.singleCover {
  display: flex;
  flex-direction: row;
}

.singleCover .singleDiv {
  height: 525px;
  width: 991px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.singleDiv .imgDiv {
  width: 340px;
  height: 340px;
}

.singleDiv .textDiv {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgDiv img {
  width: 100%;
  object-fit: contain;
}

.textDiv p:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  line-height: 28px;
}

.textDiv ul {
  width: 401px;
  height: 144px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: space-between;
  margin-top: 40px;
  gap: 10px;
}

.textDiv ul li {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.textDiv ul li span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #464646;
  text-transform: capitalize;
  margin-left: 1rem;
  text-align: left;
}
.iconDiv {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.iconDiv .likeDiv {
  width: 76px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #683522;
  border-radius: 4px;
  gap: 11px;
}

.iconDiv .likeDiv img {
  width: 20.9px;
  height: 19.9px;
}
.iconDiv .likeDiv p {
  width: 18px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.iconDiv .shareDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 101px;
  height: 40px;
  border: 1.5px solid #171717;
  border-radius: 4px;
}
.singleCover aside {
  height: 525px;
  width: 315px;
  background: #fbf9f8;
}

aside img {
  width: 77.13px;
  height: 67px;
}
