@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* variables */
:root {
  --inter-family: "Inter", sans-serif;
  --text-color: #464646;
  --brown-color: #683522;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter-family);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
